<!DOCTYPE html>
<html lang="en-NZ">
<head>
{% include head.html %}
{% include schema-org.html %}
{% unless page.sitemap == false %}{% include schema-page.html %}{% endunless %}
</head>
<body>

{% include nav.html %}

<main id="main">
{{ content }}
</main>

{% include footer.html %}

<script src="{{ '/js/site.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
{% if page.extra_js %}<script src="{{ page.extra_js | relative_url }}?v={{ site.time | date: '%s' }}"></script>
{% endif %}
</body>
</html>
